<h5>
  Diretiva ngclass!
</h5>

<h1>
  <i class="glyphicon"
  [class.glyphicon-star-empty]="!meuFavorito"
  [class.glyphicon-star]="meuFavorito"
  (click)="onFavoritar()">
      </i>
</h1>

<h1>
  <i class="glyphicon"
     [ngClass]="{
     'glyphicon-star-empty':!meuFavorito,
     'glyphicon-star':meuFavorito
     }"

     (click)="onFavoritar()">
  </i>
</h1>



