<div>


  <button class="btn btn-success" (click)="decrementa()">-</button>
  <input type="text" [value]="valor" readonly #campoInput>
  <button class="btn btn-success" (click)="incrementa()">+</button>

</div>
