
<section class="property-databing">

  <article>

    <h1>Class e Style Binding</h1>
    <div>

    Selecione uma classe
    <select #classe (change)="0">

      <option value="alert-success">Sucesso</option>
      <option value="alert-info">Info</option>
      <option value="alert-warning">Atenção</option>
      <option value="alert-danger">Erro</option>

    </select>

      <div class="alert {{classe.value}}" role="alert">

        Texto colorido conforme o valor do combobox.
      </div>

      <div class="alert" role="alert" [class.alert-success]="classe.value == 'alert-success' ">Sucesso</div>
      <div class="alert" role="alert" [class.alert-info]="classe.value == 'alert-info' ">Info</div>
      <div class="alert" role="alert" [class.alert-warning]="classe.value == 'alert-warning' ">Atenção</div>
      <div class="alert" role="alert" [class.alert-danger]="classe.value == 'alert-danger' ">Erro</div>

      <div class="alert alert-danger" role="alert" [style.display]="classe.value == 'alert-danger'?'block':'none'">Este texto aparece em caso de erro</div>

    </div>

    <br><br><br>

  </article>

  <article>

    <h3>Interpolação</h3>
    <p>Váriável que será declarada {{ url }}</p>
    <p>Resultado de 1 + 1 = {{ 1+1 }}</p>
    <p>Resultado de 1 + 1 não é = {{ 1+1 + getValor()}}</p>
    <p>Curso de Angular e gosto e do curso {{ cursoAngular && getCurtirCurso() }}</p>

  </article>



  <article>

    <h1>Property Binding</h1>
    <img src="{{ urlImagem }}">
    <img [src]="urlImagem"> <!-- --><img bind-src="urlImagem">


  </article>
</section>

<section class="event-binding">
<article>

  <h3>Event Binding</h3>

  <div>

  <button (click)="botaoClicado()" class="btn btn-primary">Me clique!</button>

    <br><br>

    <input type="text"
           (keyup)="onKeyUp($event)"
           (keyup.enter)="salvarValor(campoInput.value)"
           (blur)="salvarValor(campoInput.value)"
           #campoInput/>

    <p>Valor atual : {{valorAtual}}</p>
    <p>Valor salvo : {{valorSalvo}}</p>




  </div>
  <span (mouseover)="onMouseOverOut()" (mouseout)="onMouseOverOut()" [class.highlight]="isMouseOver">
    Passe o mouse sobre mim </span>



</article>

</section>


<app-meu-form></app-meu-form>

<br><br><br><br>

<section class="input-output-properties">

  <article>
  <h3>Input/Output Properties</h3>

  </article>


</section>

<app-curso [nome]="nomeDoCurso"></app-curso>

<contador [valor]="valorInicial"
  (mudouValor)="onMudouValor($event)"></contador>
