<h1>Meu Form</h1>
<input type="text" [(ngModel)]="nome" />

<input type="text" bindon-ngModel="nome" />

<p> Você digitou o nome {{nome}}</p>


<br><br><br>

<p>Meu nome é {{ pessoa.nome }} e tenho {{ pessoa.idade }} de idade.</p>
<!-- SINTAXE BANANA DENTRO DA CAIXA [()] -->
<input type="text" [(ngModel)]="pessoa.nome">
<input type="text" [(ngModel)]="pessoa.idade">
