<h1>Texto fundo amarelo</h1>
<p appFundoAmarelo>
  Texto com fundo amarelo!
</p>

<button appFundoAmarelo>Botao com fundo amarelo</button>

<br/><br/><br/><br/>

<h1>HIGHLIGHT MOUSE</h1>
<p appHighlightMouse> Texto com highlight </p>

<br/><br/><br/><br/>

<h1>HIGHLIGHT</h1>
<p [appHighlight]="'red'" [defaultColor]="'grey'"> Texto com highlight</p>

<br/><br/><br/><br/>

<h1>Diretiva Customizada NG-Else</h1>

<div *ngIf="mostarCursos; else withoutCursos">
  Lista de cursos aqui!
</div>

<ng-template #withoutCursos>
  <p>Não existem cursos para serem listados.</p>
</ng-template>


<button (click)="mostrarCursos()">Mostrar cursos</button>
