<div class="panel panel-primary">

  <div class="panel-heading">

      <ng-content select=".titulo"></ng-content>

  </div>
  <div class="panel-body">

    <ng-content select=".conteudo"></ng-content>

  </div>

</div>
