<h5>*ngIf<h5>
  <!-- NÃO TEM ELSE -->

<div *ngIf="cursos.length > 0">
  Lista de cursos aqui!

</div>



  <div *ngIf="cursos.length == 0">
    Não existem cursos para serem listados.

  </div>
  <div *ngIf="mostarCursos">
    Lista de cursos aqui!
  </div>

  <div *ngIf="!mostarCursos">
    Não existem cursos para serem listados.
  </div>


  <button (click)="mostrarCursos()">Mostrar cursos</button>


<h5>hidden com alternativade</h5>
  <div [hidden]="!mostarCursos">
    Lista de cursos aqui!
  </div>

  <div [hidden]="mostarCursos">
    Não existem cursos para serem listados.
  </div>
