<h5>Styles com propety binding(style binding)</h5>

<button class="btn"
  [style.backgroundColor]="'#'+bgColor"
  [style.color]="ativo?'white':'black'"
  [style.fontWeight]="ativo?'bold':'normal'"
  [style.fontSize]="tamanhoFonte + 'px'"
  (click)="mudarAtivo()">

  Mudar atributo 'ativo'

</button>
<input type="text" [(ngModel)]="tamanhoFonte" />
<input type="text" [(ngModel)]="bgColor" />


<h5>Style com diretiva ngStyle</h5>
<button class="btn"
        [ngStyle]="{
          'backgroundColor': ('#'+bgColor),
          'color': (ativo ?'white':'black'),
          'fontWeight': (ativo ?'bold':'normal'),
          'fontSize':(tamanhoFonte + 'px')
        }"
        (click)="mudarAtivo()">

  Mudar atributo 'ativo'

</button>
